@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

.button {
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid;
}

.normal a,
.normal button {
  color: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
  background-color: rgb(251, 251, 251);
}

.filled .fill {
  background: rgb(51, 51, 51);
  color: rgb(251, 251, 251);
  border-color: rgb(51, 51, 51);
}

.hover:hover {
  border-color: rgb(0, 102, 0);
}

.fill.hover:hover {
  background-color: rgb(0, 102, 0);
}

.hover:not(.fill):hover {
  color: rgb(0, 102, 0);
}
