<main id="catalog">
    <section class="game-market">
        <h1>Game Trade Code</h1>
        <div class="offer-list">
            {{#each games}}
            {{>game}}
            {{/each}}

            {{!--
            <div class="game">
                <div class="game-img">
                    <img src="/images/disney-dreamlight-valley.jpg">
                </div>
                <div class="game-info">
                    <h1>Disney Dreamlight Valley</h1>
                    <p><span>Platform: </span>PS5</p>
                    <p><span>Genre: </span>Simulator</p>
                    <p><span>Price: </span>$38</p>
                </div>

                <a href="#" class="btn-details">Details</a>
            </div>
            <div class="game">
                <div class="game-img">
                    <img src="/images/mortal-kombat.png">
                </div>
                <div class="game-info">
                    <h1>Mortal Kombat 11</h1>
                    <p><span>Platform: </span>PC</p>
                    <p><span>Genre: </span>Action</p>
                    <p><span>Price: </span>$78</p>
                </div>

                <a href="#" class="btn-details">Details</a>
            </div> --}}
        </div>
        <!-- <div class="no-offer">
                <p>There are no game offers found!</p>
            </div> -->
    </section>
</main>